PySide6-Essentials
Xray-core
hysteria
tun2socks > 2.5.1
ujson
pybase64
pyqrcode
pypng
sysproxy; sys_platform == "win32"
darkdetect; sys_platform != "darwin"
darkdetect[macos-listener]; sys_platform == "darwin"
