PySide6-Essentials
PySide6-Addons
ujson
pybase64
segno
icmplib
mss
zxing-cpp
pillow
Xray-core
hysteria
hysteria2
tun2socks
sysproxy; sys_platform == "win32"
win32session; sys_platform == "win32"
darkdetect; sys_platform != "darwin"
darkdetect[macos-listener]; sys_platform == "darwin"
pyobjc-core; sys_platform == "darwin"
pyobjc-framework-Cocoa; sys_platform == "darwin"
